# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
package-lock.json
yarn.lock

# Ignore Logs
logs/**/*

# Environments
.env
.env.dev
.env.stage
.env.prod
